@font-face {
    font-family: 'ubuntu'; /*a name to be used later*/
    src: url('https://fonts.googleapis.com/css?family=Ubuntu:400,700'); /*URL to font*/
}
body{
    font-family: ubuntu;
}
.headerButtons{
    line-height: 1 !important;
    font-size: 15px !important;
    min-height: 41px !important;
    min-width: 93px !important;

}
.page-content{
    background: transparent !important;
}
.generalContainer{
    padding:1em !important;
    margin:1em !important;
    background-color: #fff !important;
    border-radius: 10px !important;
    border: 5px solid #b9b9b9 !important;

}

.storeImage{
    width: 10vw;
    /*border: 5px solid #fe0000;*/
}
.fullWidth {
    width: 100%;
    /*border: 5px solid #fe0000;*/
}
.noMaxWidth{
    max-width: inherit; !important;
}

.littleActionButton{
    line-height: 1 !important;
    font-size: 11px !important;
    min-height: 20px !important;
    margin-top:-10px !important;
}
.headerBar {
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    border-radius: 10px !important;
    border: 2px solid #b9b9b9;
    width: 90%;
}
body{
    background: white !important;
}
.noMargin{
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.menuIcon{
    font-size: 25px !important;
    margin-top:-5% !important;
}
.fontSize10{
    font-size: 10px !important;
}
.redDivider{
    border: 2px solid #fe0000;

}
md-progress-linear .md-container {
    background-color: rgb(239, 182, 182) !important;
}

.buyButton {
    font-size:10px !important;
    border: none !important;
    background: url('../../assets/images/buyButton.png')  !important;
    /*background: url('assets/images/buyButton.png')  !important;*/
    background-size: 100% 100% !important;

    line-height: 3 !important;
}
.pointsIndicator {
    border: none !important;
    /*background: url('../../assets/images/pointIndicator.png')  !important;*/
    /*background: url('assets/images/pointIndicator.png')  !important;*/
    background-size: 100% 100% !important;
    line-height: .5 !important;
}
.paddingRight1 {
    padding-right: 1em !important;
}

.biggerHeader{
    min-width: 20vw !important;
    min-height: 65px !important;
}
.logoContainer{
   margin-top:-20px !important;
   margin-bottom:9px !important;
    max-height: 20vw;
}
@media screen and (min-width: 750px) {
    .logoContainer{
        width:13% !important;
        height: 15vw;
    }
    .mainLogo{
        width: 90% !important;
    }
    .profileImage{
        width: 10vw;
        height: 10vw;
        border-radius: 50% !important;
        border: 5px solid #fe0000;
    }

    .profileImageSquare{
        width: 10vw;
        height: 10vw;
        border: 5px solid #fe0000;
    }
    .storeImage{
        width: 10vw;
        /*border: 5px solid #fe0000;*/
    }
    .recommendationImage{
        width:10vw;
        height: 10vw;
    }
}@media screen and (max-width: 750px) {
    .headerButtons{
        font-size: 11px !important;
    }
    .logoContainer{
        width:25% !important;
        max-width: 25vw;
    }
    .mainLogo{
        width:100% !important;
    }
    .profileImage{
        width: 40vw;
        height: 40vw;
        border-radius: 50% !important;
        border: 5px solid #fe0000;
    }

    .profileImageSquare{
        width: 50vw;
        height: 50vw;
        border: 5px solid #fe0000;
    }
    .storeImage{
        width: 50vw;
        /*border: 5px solid #fe0000;*/
    }
    .recommendationImage{
        width:90%;
    }
}
@media screen and (max-width: 959px) {
    .m-top-footer{
        margin-top: -7vh !important;
    }
    .recommendationContainer{
        width:100% !important;
    }
    .md-button{
        margin: 12px 3px !important;
    }
    .footerButton{
        line-height: 16px !important;
        min-height: 0 !important;
    }
    .buttonFooter{
        min-height: 0px !important;
        line-height: 13px !important;
        padding:0 !important;
        font-size: 12px !important;
        margin: 0 !important;
    }
    .statusMonth{
        max-width: 4ch !important;
        font-size: 20px;
    }
    .statusPoints{
        font-size: 20px;
    }
}
.buttonFooter{
    min-height: 0px !important;
    line-height: 13px !important;
    padding:0 !important;
    font-size: 12px !important;
    margin: 0 !important;
}
.brakeText{
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.underline{
    text-decoration: underline !important;
}
.brakeLine{
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marginLeft10{
    margin-left:10px !important;
}
.redContainer {
    margin-top: 1em;
    width: 90vw;
    height: 25px;
}

.centerInside {
    margin: auto;
    text-align: center;

}
.maxWidth90{
    max-width: 90vw !important;
}

.categoryText {
    white-space: nowrap;
    width: 25vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.padding{
    padding:1em !important;
}
.footerButton{

}
.m-top-15{
     margin-top: 15px !important;
 }
.m-top-footer{
    margin-top: -43px;
}
.buttonFooter{

}
.headerIcon{
    width: 10% !important;
    margin-right: 10px !important;
    max-width: 40px !important;
}
.footerHeight{
    min-height : 44px !important
}
.statusPoints{
}
.statusMonth{
    max-width: 100ch !important;
    font-size: 20px;
}
.titlePoints{
    overflow: hidden;
}