.redBackground {

}
.colorWhite{
    color: white !important;
}
.colorRed{
    color:  #fe0000 !important;

}
.colorBlack{
    color: #000000 !important;
}
.colorGreen{
    color : #259331 !important;
}
.colorYellow{
    color : #dea250 !important;

}