<!doctype html>
<html class="no-js" ng-app="angularMaterialAdmin">
<head>
    <meta charset="utf-8">
    <title>Gana más con colgate</title>
    <meta name="description" content="Gana más con colgate">
    <meta name="author" content="flatlogic.com">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/colors.css">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
    <link rel="stylesheet" href="app/stylesheets/colors.css">
    <link rel="stylesheet" href="app/stylesheets/style.css">
    <link rel="stylesheet" href="app/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/vendor-ad35f33d.css">
    <link rel="stylesheet" href="styles/app-9e04a156.css">
</head>
<body>
    <div ng-controller="MainController" layout="row" layout-fill="">
        <div layout="column" flex="" layout-align="end center">
            <div class="logoContainer" ui-sref=".recommendations" style="max-height: 200px !important;">
                <img src="assets/images/logo.png" class="mainLogo">
            </div>
            <md-content flex="100" class="md-padding page-content" style="width: 100%;">
                <div layout="column" layout-align="center center">
                    <h3>Cambiar contraseña</h3>
                    <md-input-container class="md-block" flex-gt-xs="" layout-align="center center">
                        <label>Contraseña</label> <input ng-model="user.password" type="password">
                    </md-input-container>
                    <md-input-container layout-align="center center">
                        <label>Contraseña</label>
                        <input ng-model="user.rptPassword" type="password">
                    </md-input-container>
                    <md-button class="md-raised md-primary colorWhite" flex="30" ng-click="changePassword()">Cambiar</md-button>
                </div>
            </md-content><div style="margin-top: 80px;">&nbsp;</div>
        </div>
    </div><footer style="margin-top: -72px;"><md-toolbar class="md-scroll-shrink"><div layout="column" layout-align="center center" flex=""><md-button class="md-primary noMargin colorWhite underline" ng-href="http://mkdo.mx/ganamasconcolgate/user/terms_and_conditions.pdf" target="_blank"><strong>TERMINOS Y CONDICIONES</strong></md-button><md-button class="md-primary noMargin colorWhite underline" ng-href="http://mkdo.mx/ganamasconcolgate/user/privacy_policy.pdf" target="_blank"><strong>AVISO DE PRIVACIDAD COLGATE</strong></md-button></div></md-toolbar></footer>
    <script src="scripts/vendor-b78057bd.js"></script>
    <script src="scripts/app-7f8b60b9.js"></script>
    <script src="http://mkdo.mx/ganamasconcolgate/admin/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="http://mkdo.mx/ganamasconcolgate/admin/bower_components/ng-file-upload/ng-file-upload-all.js"></script>
    <script src="http://mkdo.mx/ganamasconcolgate/admin/bower_components/ng-file-upload/ng-file-upload-all.js"></script>
    <script src="http://mkdo.mx/ganamasconcolgate/admin/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <link rel="stylesheet" href="http://mkdo.mx/ganamasconcolgate/admin/bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.css">
    <script src="http://mkdo.mx/ganamasconcolgate/admin/bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>
</body>
</html>