.background-blueGrey{
    background-color:#263238 !important
}
.background-red{
    background:red !important;
}
.background-grey{
    background-color: rgba(163, 160, 160, 0.45);
}
.background-blueTable{
    background-color:#b2ebf2 !important;
}